@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    color: #111;
    font-family: 'Nanum Gothic', sans-serif;
}

.container {}

.top {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo img {
    display: block;
}

.nav ul {
    display: flex;
}

.nav ul li a {
    display: inline-block;
    height: 80px;
    padding: 0 30px;
    line-height: 80px;
}

/* slide */
.slide_container {
    background-color: #f5f5f5;
}

.slide {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-image: url("../images/slide_bg.png");
    background-repeat: no-repeat;
    background-position: center right 50px;
}

.text {
    padding: 0 36px;
    padding-top: 130px;
}

.text h2 {
    font-size: 60px;
}

.text h2 span {
    font-size: 70px;
    font-weight: 800;
}

.buttons {
    padding: 50px 40px;
}

.buttons .btn_01 {
    display: inline-block;
    height: 46px;
    width: 130px;
    text-align: center;
    line-height: 46px;
    margin-right: 20px;
}

.buttons .btn_02 {
    display: inline-block;
    height: 46px;
    width: 168px;
    background-color: #111;
    color: #fff;
    text-align: center;
    line-height: 46px;
    border-radius: 46px;
}